@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Tanker";
  src: url(/fonts/Tanker/Tanker-Regular.woff2) format("woff2"),
    url(/fonts/Tanker/Tanker-Regular.woff) format("woff");
  font-style: normal;
  font-display: optional;
}

@font-face {
  font-family: "Clash Grotesk";
  font-style: normal;
  font-weight: 200 700;
  font-display: swap;
  src: url(/fonts/ClashGrotesk/ClashGrotesk-Variable.woff2) format("woff2"),
    url(/fonts/ClashGrotesk/ClashGrotesk-Variable.woff) format("woff");
}

@layer utilities {
  .text-shadow {
    text-shadow: 0px 2px 15px #fc8a17;
  }
}

html,
body {
  padding: 0;
  margin: 0;

  font-size: 16px;
  background-color: #0a0a0a;
  scroll-behavior: smooth;
  color: white;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

::selection {
  background: #fc8a17;
  color: white;
}
